@import '../../Assets/Variables';

.scrubber {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 600;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.scrubber__position {
  text-align: right;
}

.scrubber__position,
.scrubber__duration {
  width: 5ch;
}

.scrubber__bar {
  background-color: lightgray;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  height: 0.5rem;
  margin: 0 1rem;
  position: relative;
  touch-action: none;
}

.scrubber__progress {
  height: 100%;
  background-color: $chsa-yellow;
  border-radius: 4px;
  pointer-events: none;
  min-width: 8px;
}

.scrubber__thumb {
  background-color: $chsa-red;
  border-radius: 0.5rem;
  height: 1rem;
  pointer-events: none;
  position: absolute;
  top: -0.25rem;
  transform: translateX(-0.5rem);
  width: 1rem;
}
