@import '../../Assets/Variables';

.btn-custom-primary {
  background-color: var(--bs-btn-bg-custom-primary);
  border-color: var(--bs-btn-bg-custom-primary);
  color: white;

  &:hover {
    background-color: var(--bs-btn-bg-custom-primary-hover);
    border-color: var(--bs-btn-bg-custom-primary-hover);
    color: white;
  }
  &:active {
    background-color: var(--bs-btn-bg-custom-primary-active) !important;
    border-color: var(--bs-btn-bg-custom-primary-active) !important;
    color: white !important;
  }
}

.btn-custom-secondary {
  background-color: var(--bs-btn-bg-custom-secondary);
  border-color: var(--bs-btn-bg-custom-secondary);
  color: white;

  &:hover {
    background-color: var(--bs-btn-bg-custom-secondary-hover);
    border-color: var(--bs-btn-bg-custom-secondary-hover);
    color: white;
  }
  &:active {
    background-color: var(--bs-btn-bg-custom-secondary-active) !important;
    border-color: var(--bs-btn-bg-custom-secondary-active) !important;
    color: white !important;
  }
}

.stop-viewer {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.stop-viewer__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stop-viewer__image--hidden {
  opacity: 0;
}

.stop-viewer__image--fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.stop-viewer__image--fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.stop-viewer__ar-link {
  aspect-ratio: 1;
  background-color: var(--bs-btn-bg-custom-primary);
  background-image: url('../../Assets/ArIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  left: 20%;
  opacity: 0.95;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
}

.stop-viewer__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.stop-viewer__map {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}

.stop-viewer__toc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.stop-viewer__title {
  color: white;
  font-weight: 600;
  left: 5.5rem;
  position: absolute;
  right: 5.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  top: 3rem;
  transform: translateY(-50%);
}

.stop-viewer__subtitles {
  color: white;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 8rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
