<%- include('../layout/_header.html.ejs') %>
<p>Welcome! Your account has been created and you can use
  your email address and password to log in to XR Tour.</p>
<%- include('../layout/_footer.html.ejs') %>
