@import '../../Assets/Variables';

.map {
  background-color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  transform: translateX(100%);
}

.map--open {
  transform: translateX(0);
  transition: 0.2s;
}

.map__close {
  right: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
}

.map__container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.map__marker {
  align-items: center;
  background: $chsa-red;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.map__marker--current {
  background: $chsa-yellow;
  color: black;
}

.map__marker-label {
  position: relative;
  top: -1px;
}

.map__popup-title {
  font-weight: 600;
  font-size: 16px;
}

.map__popup-body {
  font-size: 14px;
}
